@model System.Collections.Generic.IEnumerable<WebApplication.Controllers.DownFiles>
@if(!string.IsNullOrWhiteSpace(ViewBag.LastError)){
<div class="alert alert-danger">
    @ViewBag.LastError
</div>
}

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <td>File</td>
            <td>Upload date</td>
            <td>Size</td>
            <td></td>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><a href="~/tfs/@item.Name">@item.Name</a></td>
                <td>@item.DownloadDate</td>
                <td> @item.Size</td>
                <td>
                    @Html.ActionLink("Delete", "Delete", new { filename = item.Name })
                </td>
            </tr>
        }
    </tbody>
</table>

